<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs heder">
      <nav>
        <a mat-button routerLink="/home" routerLinkActive="active">home</a>
        <a mat-button routerLink="/products"  routerLinkActive="active">products</a>
      </nav>
      <a routerLink="/order" mat-raised-button [matBadge]="total$ |async" matBadgeColor="warn">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">shopping_cart</mat-icon>
        Cart
      </a>
    </div>


  </mat-toolbar-row>
</mat-toolbar>


